  .cell-height1 { 
    height: 20px;
  }
  .cell-height2 { 
    height: 38px;
  }
  .cell-height3 { 
    height: 58px;
  }
  .cell-height4 { 
    height: 78px;
  }
  .cell-height5 { 
    height: 98px;
  }
  .cell-height6 { 
    height: 118px;
  }
  .cell-height7 { 
    height: 138px;
  }
  .cell-height8 { 
    height: 158px;
  }
  .cell-height9 { 
    height: 178px;
  }
  .cell-height10 { 
    height: 198px;
  }
  .cell-height11 { 
    height: 218px;
  }
  .cell-height12 { 
    height: 238px;
  }
  .cell-height13 { 
    height: 258px;
  }
  .cell-height14 { 
    height: 278px;
  }
  .cell-height15 { 
    height: 298px;
  }
  .cell-height16 { 
    height: 318px;
  }
  .cell-height17 { 
    height: 338px;
  }
  .cell-height18 { 
    height: 358px;
  }
  .cell-height19 { 
    height: 378px;
  }
  .cell-height20 { 
    height: 398px;
  }
  .cell-height21 { 
    height: 418px;
  }
  .cell-height22 { 
    height: 438px;
  }
  .cell-height23 { 
    height: 458px;
  }
  .cell-height24 { 
    height: 478px;
  }
  .cell-height25 { 
    height: 498px;
  }
  .cell-height26 { 
    height: 518px;
  }
  .cell-height27 { 
    height: 538px;
  }
  .cell-height28 { 
    height: 558px;
  }
  .cell-height29 { 
    height: 578px;
  }
  .cell-height30 { 
    height: 598px;
  }
  .cell-height31 { 
    height: 618px;
  }
  .cell-height32 { 
    height: 638px;
  }
  .cell-height33 { 
    height: 658px;
  }
  .cell-height34 { 
    height: 678px;
  }
  .cell-height35 { 
    height: 698px;
  }
  .cell-height36 { 
    height: 718px;
  }
  .cell-height37 { 
    height: 738px;
  }
  .cell-height38 { 
    height: 758px;
  }
  .cell-height39 { 
    height: 778px;
  }
  .cell-height40 { 
    height: 798px;
  }
  .cell-height41 { 
    height: 818px;
  }
  .cell-height42 { 
    height: 838px;
  }
  .cell-height43 { 
    height: 858px;
  }
  .cell-height44 { 
    height: 878px;
  }
  .cell-height45 { 
    height: 898px;
  }
  .cell-height46 { 
    height: 918px;
  }
  .cell-height47 { 
    height: 938px;
  }
  .cell-height48 { 
    height: 958px;
  }
  .cell-height49 { 
    height: 978px;
  }
  .cell-height50 { 
    height: 998px;
  }
  .cell-height51 { 
    height: 1018px;
  }
  .cell-height52 { 
    height: 1038px;
  }
  .cell-height53 { 
    height: 1058px;
  }
  .cell-height54 { 
    height: 1078px;
  }
  .cell-height55 { 
    height: 1098px;
  }
  .cell-height56 { 
    height: 1118px;
  }
  .cell-height57 { 
    height: 1138px;
  }
  .cell-height58 { 
    height: 1158px;
  }
  .cell-height59 { 
    height: 1178px;
  }
  .cell-height60 { 
    height: 1198px;
  }
  .cell-height61 { 
    height: 1218px;
  }
  .cell-height62 { 
    height: 1238px;
  }
  .cell-height63 { 
    height: 1258px;
  }
  .cell-height64 { 
    height: 1278px;
  }
  .cell-height65 { 
    height: 1298px;
  }
  .cell-height66 { 
    height: 1318px;
  }
  .cell-height67 { 
    height: 1338px;
  }
  .cell-height68 { 
    height: 1358px;
  }
  .cell-height69 { 
    height: 1378px;
  }
  .cell-height70 { 
    height: 1398px;
  }
  .cell-height71 { 
    height: 1418px;
  }
  .cell-height72 { 
    height: 1438px;
  }
  .cell-height73 { 
    height: 1458px;
  }
  .cell-height74 { 
    height: 1478px;
  }
  .cell-height75 { 
    height: 1498px;
  }
  .cell-height76 { 
    height: 1518px;
  }
  .cell-height77 { 
    height: 1538px;
  }
  .cell-height78 { 
    height: 1558px;
  }
  .cell-height79 { 
    height: 1578px;
  }
  .cell-height80 { 
    height: 1598px;
  }
  .cell-height81 { 
    height: 1618px;
  }
  .cell-height82 { 
    height: 1638px;
  }
  .cell-height83 { 
    height: 1658px;
  }
  .cell-height84 { 
    height: 1678px;
  }
  .cell-height85 { 
    height: 1698px;
  }
  .cell-height86 { 
    height: 1718px;
  }
  .cell-height87 { 
    height: 1738px;
  }
  .cell-height88 { 
    height: 1758px;
  }
  .cell-height89 { 
    height: 1778px;
  }
  .cell-height90 { 
    height: 1798px;
  }
  .cell-height91 { 
    height: 1818px;
  }
  .cell-height92 { 
    height: 1838px;
  }
  .cell-height93 { 
    height: 1858px;
  }
  .cell-height94 { 
    height: 1878px;
  }
  .cell-height95 { 
    height: 1898px;
  }
  .cell-height96 { 
    height: 1918px;
  }
  .cell-height97 { 
    height: 1938px;
  }
  .cell-height98 { 
    height: 1958px;
  }
  .cell-height99 { 
    height: 1978px;
  }
  .cell-height100 { 
    height: 1998px;
  }

    .event.track-3d {
      background-color: #FFCDD2;
      border-color: #FFCDD2;
    }
    .event.track-3d div.event-header {
      background-color: #FFCDD2;
    }
    .event.track-architecture {
      background-color: #000000;
      border-color: #000000;
    }
    .event.track-architecture div.event-header {
      background-color: #000000;
    }
    .event.track-automotive-mobile-and-embedded {
      background-color: #F06292;
      border-color: #F06292;
    }
    .event.track-automotive-mobile-and-embedded div.event-header {
      background-color: #F06292;
    }
    .event.track-best-practices {
      background-color: #BA68C8;
      border-color: #BA68C8;
    }
    .event.track-best-practices div.event-header {
      background-color: #BA68C8;
    }
    .event.track-best-practices {
      background-color: #BA68C8;
      border-color: #BA68C8;
    }
    .event.track-best-practices div.event-header {
      background-color: #BA68C8;
    }
    .event.track-beyond-code {
      background-color: #D1C4E9;
      border-color: #D1C4E9;
    }
    .event.track-beyond-code div.event-header {
      background-color: #D1C4E9;
    }
    .event.track-break {
      background-color: #FFFFFF;
      border-color: #FFFFFF;
    }
    .event.track-break div.event-header {
      background-color: #FFFFFF;
    }
    .event.track-codecs {
      background-color: #E8EAF6;
      border-color: #E8EAF6;
    }
    .event.track-codecs div.event-header {
      background-color: #E8EAF6;
    }
    .event.track-community {
      background-color: #B3E5FC;
      border-color: #B3E5FC;
    }
    .event.track-community div.event-header {
      background-color: #B3E5FC;
    }
    .event.track-community {
      background-color: #B3E5FC;
      border-color: #B3E5FC;
    }
    .event.track-community div.event-header {
      background-color: #B3E5FC;
    }
    .event.track-design {
      background-color: #000000;
      border-color: #000000;
    }
    .event.track-design div.event-header {
      background-color: #000000;
    }
    .event.track-distributing-software-and-resources {
      background-color: #64B5F6;
      border-color: #64B5F6;
    }
    .event.track-distributing-software-and-resources div.event-header {
      background-color: #64B5F6;
    }
    .event.track-embedded {
      background-color: #000000;
      border-color: #000000;
    }
    .event.track-embedded div.event-header {
      background-color: #000000;
    }
    .event.track-framework {
      background-color: #000000;
      border-color: #000000;
    }
    .event.track-framework div.event-header {
      background-color: #000000;
    }
    .event.track-free-software-community {
      background-color: #000000;
      border-color: #000000;
    }
    .event.track-free-software-community div.event-header {
      background-color: #000000;
    }
    .event.track-free-software-policies-and-politics {
      background-color: #4DD0E1;
      border-color: #4DD0E1;
    }
    .event.track-free-software-policies-and-politics div.event-header {
      background-color: #4DD0E1;
    }
    .event.track-geolocation {
      background-color: #CDDC39;
      border-color: #CDDC39;
    }
    .event.track-geolocation div.event-header {
      background-color: #CDDC39;
    }
    .event.track-in-depth {
      background-color: #26A69A;
      border-color: #26A69A;
    }
    .event.track-in-depth div.event-header {
      background-color: #26A69A;
    }
    .event.track-kde-s-latest-and-greatest {
      background-color: #2196F3;
      border-color: #2196F3;
    }
    .event.track-kde-s-latest-and-greatest div.event-header {
      background-color: #2196F3;
    }
    .event.track-keynote {
      background-color: #B2DFDB;
      border-color: #B2DFDB;
    }
    .event.track-keynote div.event-header {
      background-color: #B2DFDB;
    }
    .event.track-let-s-talk-business {
      background-color: #FFEB3B;
      border-color: #FFEB3B;
    }
    .event.track-let-s-talk-business div.event-header {
      background-color: #FFEB3B;
    }
    .event.track-let-s-talk-software {
      background-color: #FFC107;
      border-color: #FFC107;
    }
    .event.track-let-s-talk-software div.event-header {
      background-color: #FFC107;
    }
    .event.track-misc {
      background-color: #FF9800;
      border-color: #FF9800;
    }
    .event.track-misc div.event-header {
      background-color: #FF9800;
    }
    .event.track-mobile {
      background-color: #000000;
      border-color: #000000;
    }
    .event.track-mobile div.event-header {
      background-color: #000000;
    }
    .event.track-multithreading {
      background-color: #FF7043;
      border-color: #FF7043;
    }
    .event.track-multithreading div.event-header {
      background-color: #FF7043;
    }
    .event.track-opengl-and-3d {
      background-color: #E53935;
      border-color: #E53935;
    }
    .event.track-opengl-and-3d div.event-header {
      background-color: #E53935;
    }
    .event.track-platforms-and-integration {
      background-color: #BCAAA4;
      border-color: #BCAAA4;
    }
    .event.track-platforms-and-integration div.event-header {
      background-color: #BCAAA4;
    }
    .event.track-qt-in-use {
      background-color: #4CAF50;
      border-color: #4CAF50;
    }
    .event.track-qt-in-use div.event-header {
      background-color: #4CAF50;
    }
    .event.track-qtquick {
      background-color: #8BC34A;
      border-color: #8BC34A;
    }
    .event.track-qtquick div.event-header {
      background-color: #8BC34A;
    }
    .event.track-technical-discussions {
      background-color: #8D6E63;
      border-color: #8D6E63;
    }
    .event.track-technical-discussions div.event-header {
      background-color: #8D6E63;
    }
    .event.track-testing {
      background-color: #000000;
      border-color: #000000;
    }
    .event.track-testing div.event-header {
      background-color: #000000;
    }
    .event.track-testing-and-continuous-integration {
      background-color: #E0E0E0;
      border-color: #E0E0E0;
    }
    .event.track-testing-and-continuous-integration div.event-header {
      background-color: #E0E0E0;
    }
    .event.track-tooling {
      background-color: #90A4AE;
      border-color: #90A4AE;
    }
    .event.track-tooling div.event-header {
      background-color: #90A4AE;
    }
    .event.track-web {
      background-color: #607D8B;
      border-color: #607D8B;
    }
    .event.track-web div.event-header {
      background-color: #607D8B;
    }
